
/*_____COLORS_____*/
$bg-col: #FCFEFF;
$fo-col: #000;
$green: rgb(40, 83, 40);

/*_______FONT SIZE________*/
$fo-sz-xl: clamp(2rem, 4vw, 50px);
$fo-sz-l: clamp(1rem, 1.5vw, 35px);
$fo-sz-m: clamp(12px, 2vw, 22px);
$fo-sz-s: clamp(12px, 2vw, 20px);
$fo-sz-xs: clamp(12px, 1vw, 16px);

/*______MIXINS________*/
@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-top{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

@mixin flex-col-le{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

@mixin flex-col-ev{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

@mixin flex-ev{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex-be{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



